# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cython build artifacts
build/
dist/
*.egg-info/

# Editor & IDE configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Test
run.py